html, body {
    overflow-y: hidden;
}

.cont {
    width: 99%;
    padding: 8px;
    margin: 0;
}

.point {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background: black;
    position: absolute;
}

#paint {
    height: 700px;
    background: #EEE8AA;
}
