<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="js.constructor/shape.css">
    <title>Main page</title>
</head>
<body>
    <div class="col-sm-12">
        <div class="col-sm-3">
            <div class="btn-group">
                <button class="btn btn-primary" onclick="switchAction('point')">
                    Point
                </button>
                <button class="btn btn-primary" onclick="switchAction('line')">
                    Line
                </button>
                <button class="btn btn-primary" onclick="switchAction('manycorners')">
                    Manycorners
                </button>
                <button class="btn btn-primary" onclick="switchAction('circle')">
                    Circle
                </button>
                <button class="btn btn-primary" onclick="switchAction('corner')">
                    Corner
                </button>
                <button class="btn btn-primary" onclick="switchAction('arrow')">
                    Arrow
                </button>
                <button class="btn btn-primary" onclick="switchAction('trigonometry')">
                    Trigonometry
                </button>
            </div>
        </div>
        <div id="paint" class="col-sm-9" onclick="doSomething()">

        </div>
    </div>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js.constructor/menu.js"></script>
</body>
</html>