<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form id="form-login" th:action="@{/login}" method="post">
    <div class="container">
        <label for="login"><b>Login:</b></label>
        <input id="login" type="text" name="login" placeholder="Enter login:" required>

        <label for="password"><b>Password:</b></label>
        <input id="password" type="password" name="password" placeholder="Enter password:" required>

        <button type="submit">Log in</button>
    </div>
</form>
</body>
</html>